body {
	
}


	    font-size: 40;
	    text-align: canto;
}

<head>
  <meta http-equiv="Content-Type"; content="text/html"; charset="UTF-8">
  <title>Melhor amigo do cão</title>
  <style>
    p {
      font-size: 20px;
      text-align: center;
  }
  </style>
</head>  
